<div class = "timeline-title"> <h1>Nossa História</h1></div>

<div class = "line">
    <div class = "arrow" id = "prev"></div>
    <img src="../../static/images/timeline (D).svg" alt="">
    <div class = "line-mobile"></div>
    <div class = "arrow" id = "next"></div>

</div>

<div class="carousel-section" id="carousel"> <!-- O ID 'carousel' serve para referenciar o carrossel no JavaScript. É interessante usar ID nesses casos, pra identificar que é um objeto único e por questão de boas práticas -->
    <!-- Item 1 -->
    <div class = "content-carousel">
            <img class="image" src="../../static/images/WhatsApp Image 2019-12-05 at 16.01.18.jpeg">
            <div class = "text-carousel">
                <div class="text">
                    <p> 2010 </p>
                </div>
                <div class="long-text">
                    <p> A associação realiza diversos trabalhos de reeducação à população, visando inserir os moradores em uma nova realidade profissional. </p>
                </div>
            </div>
        </div>
    <!-- Item 2 -->
    <div class = "content-carousel">
        <img class="image" src="../../static/images/WhatsApp Image 2019-12-05 at 16.01.19.jpeg">
        <div class = "text-carousel">
            <div class="text">
                <p> 2010 </p>
            </div>
                <div class="long-text">
                    <p> A associação realiza diversos trabalhos de reeducação à população, visando inserir os moradores em uma nova realidade profissional. </p>
            </div>
        </div>
    </div>
    <!-- Item 3 -->
    <div class = "content-carousel">
        <img class="image" src="../../static/images/WhatsApp Image 2019-12-05 at 16.01.19.jpeg">
        <div class = "text-carousel">
            <div class="text">
                <p> 2010 </p>
            </div>
            <div class="long-text">
                <p> A associação realiza diversos trabalhos de reeducação à população, visando inserir os moradores em uma nova realidade profissional. </p>
            </div>
        </div>
    </div>
    <!-- Item 4 -->
    <div class = "content-carousel">
        <img class="image" src="../../static/images/activity-asian-people-boys-children-1153976.jpg">
        <div class = "text-carousel">
            <div class="text">
                <p> 2010 </p>
            </div>
            <div class="long-text">
                <p> A associação realiza diversos trabalhos de reeducação à população, visando inserir os moradores em uma nova realidade profissional. </p>
            </div>
        </div>
    </div>
    <!-- Item 5 -->
    <div class = "content-carousel">
        <img class="image" src="../../static/images/group-of-people-taking-photo-764681.jpg">
        <div class = "text-carousel">
            <div class="text">
                <p> 2010 </p>
            </div>
            <div class="long-text">
                <p> A associação realiza diversos trabalhos de reeducação à população, visando inserir os moradores em uma nova realidade profissional. </p>
            </div>
        </div>
    </div>
</div>