{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/includesCSS/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/includesCSS/aboutUs.css' %}">
    <link rel="stylesheet" href="{% static 'css/includesCSS/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'css/includesCSS/goals.css' %}">
    <link rel="stylesheet" href="{% static 'css/includesCSS/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/includesCSS/footer.css' %}">
    <!-- Slick - CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css" />
        <link rel="stylesheet" href="{% static 'css/includesCSS/timeline.css' %}">

    <title>Associação Comunitária dos Moradores da Ilha do Chié - ASCOMIC</title>
</head>
<body>
    <main>

        <nav class = "navbar" id="navbar">
            {% include 'includesHTML/navbar.html' %}
        </nav>

        <section class = "aboutUs" id="aboutUs">
            {% include 'includesHTML/aboutUs.html' %}
        </section>

        <section class="timeline" id = "timeline">
            {% include 'includesHTML/timeline.html' %}
        </section>
        
        <section class="goals" id="goals">
            {% include 'includesHTML/goals.html' %}
        </section>
    
        <section class = "contact" id="contact" >
            {% include 'includesHTML/contact.html' %}
        </section>
        
        <footer class = "footer" id="footer">
            {% include 'includesHTML/footer.html' %} 
        </footer>

    </main>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script type="text/javascript">
        $(document).on('ready', function () {
            $('#carousel').slick({
                dots: true,
                infinite: true,
                speed: 500,
                cssEase: 'linear',
                prevArrow : $('#prev'),
                nextArrow: $('#next'),
            });
        });
    </script>
        <script type = "text/javascript" src = "{% static 'scripts/home.js' %}"></script>
        <script type = "text/javascript" src = "{% static 'scripts/includesJS/navbar.js' %}"></script>
        <script type = "text/javascript" src = "{% static 'scripts/includesJS/aboutUs.js' %}"></script>
        <script type = "text/javascript" src = "{% static 'scripts/includesJS/timeline.js' %}"></script>
        <script type = "text/javascript" src = "{% static 'scripts/includesJS/goals.js' %}"></script>
        <script type = "text/javascript" src = "{% static 'scripts/includesJS/contact.js' %}"></script>
        <script type = "text/javascript" src = "{% static 'scripts/includesJS/footer.js' %}"></script>
</body>
</html>